* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-size: cover;
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
.container .signup-form {
    background-color: #2C2547;
    color: #291031;
    padding: 1px;
    position: fixed;
    top: 2rem;
    border-radius: 15px;
    border-color: black;
    border: 1px;
    opacity: 85%;
    width: 620px;
    height: 650px;
    text-align: center;
    justify-content: center;
    left: 28rem;
} 

.signup-form h2 {
    position: relative;
    color: white;
    font-weight: 700px;
    font-size: 36px;
    line-height: 46.8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    bottom: -2.4rem;
}

.Firstname label {
    text-align: center;
    color: white;
    position: relative;
    left: -5.2rem;
    font-size: 24px;
    font-weight: 400px;
    top: 5rem;
}
.Firstname ::placeholder {
    position: relative;
    text-align: center;
    text-rendering: auto;
    color: white;
    font: bold;
    left: -3.3rem;
    opacity: 100%;
}
.Firstname input { 
    width: 240px;
    height: 55px;
    padding-left: 7px;
    position: relative;;
    background-color: #5A6DB7;
    border: 1px;
    border-color: black;
    color: white;
    border-radius: 11px;
    box-shadow: black;
    fill-opacity: 100%;
    text-align: left;
    opacity: 39%;
    top: 8rem;
    left: -12.4rem;
}
.Lastname label {
    text-align: center;
    color: white;
    position: relative;
    left: 12.3rem;
    font-size: 24px;
    font-weight: 400px;
    top: 1.6rem;
}
.Lastname input { 
    width: 240px;
    height: 55px;
    position: relative;;
    background-color: #5A6DB7;
    color: white;
    padding-left: 7px;
    border: 1px;
    border-color: black;
    opacity: 39%;
    border-radius: 11px;
    box-shadow: calc(0px 4px 10px rgba(0, 0, 0, 0.4));
    top: 4.6rem;
    left: 5rem;
}
.Lastname ::placeholder {
    position: relative;
    text-align: center;
    text-rendering: auto;
    color: white;
    font: bold;
    left: -3.4rem;
    opacity: 100%;
}
.Gmail label {
    text-align: left;
    color: white;
    position: relative;
    left: 2.3rem; 
    top: 5rem;
    width: 400px;
    font-size: 24px;
}

.Gmail input {
    background-color: #5A6DB7;
    width: 526px;
    height: 55px;
    position: relative;
    padding-left: 6px;
    justify-content: center;
    border-radius: 10px;
    color: white;
    border-color: black;
    border: 1px;
    opacity: 39%;
    top: 8.5rem;
    left: -2rem;

}
.Gmail ::placeholder {
    position: relative;
    text-align: center;
    text-rendering: auto;
    color: white;
    font: bold;
    left: -13rem;
}

.Sandi label {
    width: 400px;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    font-size: 24px;
    color: #eee6e6;
    top: 9.2rem;
    left: -13rem;
}
.Sandi input {
    width: 526px;
    height: 55px;
    background-color: #5A6DB7;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    opacity: 39%;
    border-color: black;
    font-size: 14px;
    color: #eee6e6;
    top: 10rem;
    left: 0.2rem;
}
.Sandi ::placeholder {
    position: relative;
    text-align: center;
    text-rendering: auto;
    color: white;
    font: bold;
    left: -11.6rem;
}

.Konfirmasi-Sandi label {
    width: 400px;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    font-size: 24px;
    color: #eee6e6;
    top: 11rem;
    left: -10.3rem;
}

.Konfirmasi-Sandi input {
    width: 526px;
    height: 55px;
    background-color: #5A6DB7;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 1px;
    opacity: 39%;
    border-color: black;
    font-size: 14px;
    color: #eee6e6;
    top: 12rem;
    left: 0.2rem;
}

.btn {
    width: 500px;
    height: 52px;;
    position: relative;
    background-color: fffff;
    border-radius: 11px;
    color: #2816B0;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 700px;
    line-height: 41.6px;
    font: bolder;
    top: 13rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1fec34;
}

.login-link {
    margin-top: 20px;
    font-size: 14px;
}

.login-link a {
    color: #4caf50;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.Background img {
    position: fixed;
    width: 100%;
    scale: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}